.article-page {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;

  .navbar {
    position: sticky;
    z-index: 9999;
    top: 0;

    flex: 0 0 auto;
  }

  .article-main {
    display: flex;
    height: calc(100vh - var(--navbar-height));
    overflow: auto;

    .sidebar {
      flex: 0 0 auto;
      position: sticky;
      top: 0;
    }

    .content {
      flex: 0 0 auto;
      box-shadow: var(--shadow-default);

      width: var(--content-width);
      margin: 32px auto 48px;
      height: fit-content;
      padding: 24px;
    }
  }
}
