.article-page {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;

  .navbar {
    position: sticky;
    z-index: 99;
    top: 0;

    flex: 0 0 auto;
  }

  .article-page-container {
    display: flex;
    overflow: auto;

    height: calc(100vh - var(--navbar-height));

    .sidebar {
      flex: 0 0 var(--sidebar-width);

      .ant-menu {
        border: none;

        --ant-menu-sub-menu-item-bg: transparent;
      }
    }

    .article-main {
      display: flex;
      overflow: hidden auto;
      flex: 1 1 auto;
      justify-content: center;

      width: fit-content;
      min-width: calc(48px * 2 + var(--content-min-width));
      height: 100%;

      scroll-behavior: smooth;

      .content-card {
        width: calc(100% - 96px);
        min-width: var(--content-min-width);
        max-width: var(--content-max-width);
        height: fit-content;
        margin: 48px 48px 72px;
        padding: 24px;

        box-shadow: var(--shadow-default);
      }
    }
  }
}
