.ws-card:not(.ws-card-bordered).ws-container-tabs-card {
  box-shadow: var(--shadow-default);
}

.ws-tabs-tabpane {
  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
