:not(pre) > code {
  padding: 0.125em 0.25em;

  color: var(--code-inline-color);
  border: 1px solid var(--code-inline-border-color);
  border-radius: 0.25em;
  background-color: var(--code-inline-bg-color);
}

.line-number {
  user-select: none;
  text-align: right;
}

.line-decorator {
  user-select: none;
  text-align: center;
}

.line-highlighted {
  background-color: var(--code-line-highlighted-bg-color);
}

.line-inserted {
  background-color: var(--code-line-inserted-bg-color);
}

.line-deleted {
  background-color: var(--code-line-deleted-bg-color);
}

pre[class*="language-"] > code {
  display: flex;

  &:not(:has(> .line-numbers)) {
    flex-direction: column;
  }

  .line-numbers {
    position: sticky;
    left: 0;

    display: grid;

    height: fit-content;
    padding: var(--code-spacing) 0;

    border-right: 1px solid #fff;
    background-color: var(--code-bg-color);

    grid-template-columns: auto;

    &.with-decorators {
      grid-template-columns: auto auto;
    }

    .line-number {
      padding: 0 0.8em;

      &:has(+ .line-decorator) {
        padding-right: 0.2em;
      }

      &:has(+ .line-highlighted) {
        border-left: var(--code-decorator-border-width) solid
          var(--code-line-highlighted-border-color);
        background-color: var(--code-line-highlighted-bg-color);
      }

      &:has(+ .line-inserted) {
        border-left: var(--code-decorator-border-width) solid
          var(--code-line-inserted-border-color);
        background-color: var(--code-line-inserted-bg-color);
      }

      &:has(+ .line-deleted) {
        border-left: var(--code-decorator-border-width) solid
          var(--code-line-deleted-border-color);
        background-color: var(--code-line-deleted-bg-color);
      }
    }

    .line-decorator {
      padding-right: 0.8em;
    }
  }

  .code-lines {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    height: fit-content;
    padding: var(--code-spacing) 0;

    .code-line {
      display: inline-block;

      padding: 0 var(--code-spacing);
    }
  }
}
