#root {
  margin: 0;
  padding: 0;

  color: var(--color-text);

  font-size: var(--font-size);
}

body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

p,
table,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

p {
  margin: 1em 0;
}

hr {
  height: 1px;
  margin: var(--font-size) 0;

  border: none;
  background-color: var(--color-divider);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;

  outline: none;

  font-weight: 600;
}

h1 {
  margin: 0;

  --font-size: 32px;
  --line-height: 40px;
}

h2 {
  margin: 48px 0 16px;
  padding: 16px 0 0;

  border-top: 1px solid var(--color-divider);

  --font-size: 24px;
  --line-height: 32px;

  .ws-heading-anchor {
    top: 16px;
  }
}

h3 {
  margin: 32px 0 0;

  --font-size: 20px;
  --line-height: 28px;
}

h4 {
  margin: 24px 0 0;

  --font-size: 18px;
  --line-height: 26px;
}

h5 {
  margin: 0;

  --font-size: 16px;
  --line-height: 24px;
}

h6 {
  margin: 0;

  --font-size: 16px;
  --line-height: 24px;
}

ul,
ol {
  margin: 1em 0;
  padding-left: 1.25em;

  font-size: var(--font-size);

  ul,
  ol {
    margin: 0.5em 0;
  }

  &.contains-task-list {
    padding-left: 0.25em;

    list-style: none;
  }
}

li + li {
  margin-top: 0.5em;
}

blockquote {
  margin: 1em 0;
  padding: 0 0.8em;

  color: var(--color-text-50);
  border-left: 0.2em solid var(--color-divider-light);

  p {
    margin: 0.5em 0;

    --font-size: 14px;
    --line-height: 22px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footnotes {
  margin: 32px 0 16px;

  border-top: 1px solid var(--color-divider);

  --font-size: 12px;
  --line-height: 20px;

  .ws-heading {
    display: none;
  }
}

.ws-card {
  margin: 1em 0;
  padding: var(--card-padding);

  border: none;
  border-radius: var(--card-border-radius);
  box-shadow: none;
}

.ws-card-bordered {
  border: 1px solid var(--color-divider);
}

.ws-card-shadowed {
  box-shadow: var(--shadow-default);
}
