@import "./vars";

:root {
  --font-size: #{$fontSize};
  --line-height: #{$lineHeight};
  --font-family: var(--ws-font-family);

  --navbar-height: #{$bavbarHeight};
  --sidebar-width: #{$sidebarWidth};
  --content-width: #{$contentWidth};

  --color-divider: #{$colorDivider};

  --color-shadow: rgba(0, 0, 0, 0.12);
  --shadow-small: 0 0 4px var(--color-shadow);
  --shadow-medium: 0 0 6px var(--color-shadow);
  --shadow-large: 0 0 8px var(--color-shadow);
  --shadow-default: var(--shadow-medium);

  @each $type, $baseColor in $colorArray {
    $baseName: --color-#{$type};

    #{$baseName}: $baseColor;

    @each $percent in 100, 75, 50, 30, 15 {
      #{$baseName}-#{$percent}: rgba($baseColor, $percent / 100);
    }
  }
}

code,
pre {
  --code-font-size: 14px;
  --code-line-height: 20px;
  --code-font-family: var(--ws-font-family-code);

  --code-color: #ccc;
  --code-bg-color: #2f2f2f;
  --code-inline-color: #333;
  --code-inline-bg-color: #ededed7f;
  --code-inline-border-color: #d2d2d27f;

  --code-spacing-width: 1em;
  --code-decorator-border-width: 0.5em;

  --code-line-highlighted-color: #333;
  --code-line-highlighted-border-color: #666;
  --code-line-inserted-color: #0e03;
  --code-line-inserted-border-color: #0e06;
  --code-line-deleted-color: #e003;
  --code-line-deleted-border-color: #e006;
}

.ws-badge {
  --badge-bg-color-default: #{rgba(#bbb, 0.15)};
  --badge-border-color-default: #{rgba(#bbb, 0.3)};

  @each $type in $badgeTypes {
    --badge-bg-color-#{$type}: var(--color-#{$type}-15);
    --badge-border-color-#{$type}: var(--color-#{$type}-30);
  }
}
