:root {
  --navbar-height: 64px;
  --sidebar-width: 240px;
  --content-width: 720px;
  --code-bg-color: #2f2f2f;
  --code-font-size: 14px;
  --code-line-height: 20px;
  --code-spacing-width: 1em;
  --code-decorator-border-width: 0.5em;
  --code-line-highlighted-color: #333;
  --code-line-highlighted-border-color: #666;
  --code-line-inserted-color: #0e03;
  --code-line-inserted-border-color: #0e06;
  --code-line-deleted-color: #e003;
  --code-line-deleted-border-color: #e006;
}
