$fontSize: 16px;
$lineHeight: 24px;

$bavbarHeight: 64px;
$sidebarWidth: 280px;
$contentWidth: 720px;

$colorDivider: #dddd;
$colorShadow: rgba(#000, 0.1);
$colorShadowLight: rgba(#000, 0.08);
$colorShadowDark: rgba(#000, 0.15);

$colorDefault: #141414;
$colorPrimary: #ff6600;
$colorWarning: #ffaa00;
$colorError: #ff2200;
$colorDanger: $colorError;
$colorSuccess: #52c41a;
$colorImportant: #9f7aea;
$colorTip: #646cff;
$colorInfo: #888;

$colorArray: "default" $colorDefault, "text" $colorDefault,
  "primary" $colorPrimary, "warning" $colorWarning, "error" $colorError,
  "danger" $colorDanger, "success" $colorSuccess, "important" $colorImportant,
  "tip" $colorTip, "info" $colorInfo;

$badgeTypes: "danger", "warning", "success", "important", "info", "tip";
