.related {
  &-title {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 0.75em;

    font-weight: bold;
  }

  &-content {
    display: flex;

    width: 100%;

    .related-articles {
      display: grid;

      grid-template-columns: repeat(3, 1fr);
      gap: 0 1em;

      .related-article {
        overflow: hidden;

        padding: 0.5em 0.75em 0.75em;

        transition: box-shadow 0.3s;

        border-radius: 6px;

        &:hover {
          box-shadow: var(--shadow-heavy);
        }

        &-title {
          margin-bottom: 0.5em;

          a {
            --ant-color-link: var(--color-text);
          }
        }

        .article-tag-list {
          position: relative;

          overflow: hidden;

          width: 100%;

          white-space: nowrap;

          &::after {
            position: absolute;
            top: 0;
            right: 0;

            display: block;

            width: 1em;
            height: 100%;

            content: "";
            pointer-events: none;

            background: linear-gradient(to right, transparent, #fff);
          }
        }
      }
    }

    .related-refresh {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      margin-left: 1em;

      cursor: pointer;

      font-size: 14px;

      gap: 0.5em 0;

      span {
        writing-mode: vertical-rl;
      }

      &-icon {
        transition: transform 1s;
      }
    }
  }
}
