.content-card {
  width: calc(100% - 96px);
  min-width: var(--content-min-width);
  max-width: var(--content-max-width);
  height: fit-content;
  margin: 48px 48px 72px;
  padding: 24px;

  box-shadow: var(--shadow-default);

  .article-title {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .article-info {
    margin-top: 1em;

    column-gap: 1em;

    .last-updated {
      color: var(--color-text-50);

      font-size: 14px;
      line-height: 22px;
    }
  }

  .article-tags {
    margin-top: 0.5em;
  }
}
