.ws-note {
  margin: var(--line-gap-top) 0 var(--line-gap-bottom);
  padding: 0.5em 0.8em;

  color: var(--color-text-75);
  border-left: 0.2em solid var(--color-info-50);
  background-color: var(--color-info-15);

  --font-size: 14px;
  --line-height: 22px;

  @each $name in "info", "tip", "important", "success", "warning", "danger" {
    &-#{$name} {
      border-color: var(--color-#{$name}-50);
      background-color: var(--color-#{$name}-15);

      .ws-note-title {
        color: var(--color-#{$name});
      }

      pre,
      code {
        --code-font-size: 13px;
        --code-inline-bg-color: #ffffff1f;
        --code-inline-border-color: var(--color-#{$name}-30);
      }
    }
  }

  & > p {
    --font-size: 14px;
    --line-height: 22px;

    &:first-child {
      --line-gap-top: 0;
    }

    &:last-child {
      --line-gap-bottom: 0;
    }
  }

  & > * {
    --line-gap-top: 0.5em;
    --line-gap-bottom: 0.5em;
  }
}

.ws-note-title {
  font-size: var(--font-size);
  font-weight: 500;
  line-height: var(--line-height);

  .lucide {
    margin-right: 0.5em;
  }
}
