.ws-note {
  margin: 1em 0;
  padding: 0.5em 0.8em;

  color: var(--color-text-50);
  border-left: 0.2em solid var(--color-info-50);
  background-color: var(--color-info-15);

  @each $name in "info", "tip", "important", "success", "warning", "danger" {
    &-#{$name} {
      border-color: var(--color-#{$name}-50);
      background-color: var(--color-#{$name}-15);

      .ws-note-title {
        color: var(--color-#{$name});
      }
    }
  }

  p {
    margin: 0.5em 0;

    --font-size: 14px;
    --line-height: 22px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ws-note-title {
  .lucide {
    margin-right: 0.5em;
  }
}
