.sidebar {
  overflow: hidden auto;

  width: var(--sidebar-width);
  height: calc(100% - 32px);
  margin-top: 32px;

  border-right: 1px solid var(--color-divider-light);

  .ant-menu-title-content {
    transition: none;
  }

  .ant-menu-submenu-arrow {
    &::before,
    &::after {
      transition: background var(--ant-motion-duration-slow)
          var(--ant-motion-ease-in-out),
        transform var(--ant-motion-duration-slow) var(--ant-motion-ease-in-out),
        top var(--ant-motion-duration-slow) var(--ant-motion-ease-in-out);
    }
  }
}
