.ws-table {
  overflow: hidden;

  width: 100%;

  table {
    width: 100%;
    overflow: hidden;

    border-spacing: 0;

    border-collapse: collapse;
  }

  th,
  td {
    padding: 0.5em 1em;

    text-align: left;

    background-color: var(--table-bg-color);
  }

  th,
  tr:nth-child(even) td {
    background-color: var(--table-hover-bg-color);
  }

  td {
    border-top: 1px solid var(--table-border-color);
  }

  th + th,
  td + td {
    border-left: 1px solid var(--table-border-color);
  }
}
